.git
.github
.gitignore

node_modules
npm-debug.log*
*.log

docs
terraform

README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE

.env
.env.*

coverage
.vscode
.idea

*.tfstate
*.tfstate.*
.terraform
.terraform.lock.hcl