# ==========================
# Node.js
# ==========================
node_modules/

# Environment Files
.env
.env.local
.env.development
.env.production
.env.docker

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*.tfplan
.terraform.lock.hcl

# Environment secrets
environments/*/*.auto.tfvars

# Docker
docker-compose.override.yml
